:root {
  width: 100vw;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  flex: 1;
}

a {
  font-weight: 500;
  color: #0066cc;
  text-decoration: inherit;
}
a:hover {
  color: #e90e0e;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 80vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: medium;
  font-weight: bold;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #0066cc;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  box-shadow: 7px 5px 56px -14px #004999;
  background-color: #004999;
}

button:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #004999;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
